<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Script JS 2</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: gray;
        }
        .link {
            margin-left: auto;
            margin-right: auto;
            width: 12%;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="link">
        <a href="../index.html">Retour au menu principal</a>
    </div>
</body>
<script src="../scripts/script_2.js"></script>
</html>